/* 30%
  #1F363D
  #40798C
  
  60%
  #70A9A1
  #9EC1A3
  
  10%
  #CFE0C3*/
h4 {
  font-family: 'Montserrat', sans-serif;
}
.navbar a {
  font-family: 'Kanit', sans-serif;
}
body {
  height: 100%;
  background-image: url("../../img/background/white_abstract.png");
}

nav {
  background-color: #40798C;
}

.login-form {
  position: absolute;
  width: 50%;
  overflow: hidden;
  transition: 600ms ease-in;
}

.hidden-form {
  position: absolute;
  width: 0%;
  overflow: hidden;
  transition: 600ms ease-in;
}

.register-form {
  position: absolute;
  width: 50%;
  transition: 600ms ease-in;
}

footer {
  background-color: #1F363D;
  color: #fff;
  padding: 20px 0;
  margin-top: 30px;
  bottom: 0;
  width: 100%;
}

.footer {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}